@font-face {
    font-family: 'Arimo';
    src: url('arimo/arimo.eot');
    src: url('arimo/arimo.eot?#iefix') format('embedded-opentype'),
    url('arimo/arimo.woff2') format('woff2'),
    url('arimo/arimo.woff') format('woff'),
    url('arimo/arimo.ttf')  format('truetype'),
    url('arimo/arimo.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
.container {
    font-family: Arimo;
}
table {
    width: 100%;
    color: #484848;
    border: 21px solid #3A4965;
    text-transform: uppercase;
}
td, th {
    text-align: center;
}
td {
    border-bottom: 2px solid #cdcdcd;
}
td {
    width: 14%;
    vertical-align: middle;
}
.first-row {
    border-bottom: 12px solid #3A4965;
}
.first-row th:nth-child(n+1) {
    font-size: 20px;
    padding: 26px 0px;
}
.choose-plan {
    vertical-align: middle;
}
.choose {
    font-size: 18px;
    font-weight: bold;
}
.plan {
    font-size: 30px;
    font-weight: bold;
}
.stand {
    background: #89C331;
    color: #ffffff;
}
.standart {
    font-weight: bold;
    font-size: 24px;
    padding: 23px 18px 2px 18px;
}
.ulti {
    background: #F04A56;
    color: #ffffff;
}
.ultimate {
    font-weight: bold;
    font-size: 24px;
    padding: 23px 18px 2px 18px;
}
.prem {
    background: #20807C;
    color: #ffffff;
}
.premium {
    font-weight: bold;
    font-size: 24px;
    padding: 23px 18px 2px 18px;
}
.price {
    display: flex;
    justify-content: center;
}
.doll {
    font-weight: bold;
    font-size: 36px;
}
.cent {
    font-size: 18px;
}
.month {
    font-size: 14px;
    padding: 12px 5px
}
.but {
    padding: 24px 0px;
}
a.button-one {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #404040;
    padding: 8px 21px;
    border-radius: 5px;
    border-bottom: 2px solid #343434;
}
a.button-one:hover {
    background: #484848;
}
td:nth-child(even) {
    background: #E3E3E3;
}
th:nth-child(even)  {
    background: #E3E3E3;
}
